h1 {
	text-align: center;
	margin-bottom: 50px;
	color: blue;
}

h1 span {
	font-weight: 900;
}

body {
	font-family: sans-serif;
	background-color: #a1a1a1;
}

.container {
	width: 500px;
	margin: 0 auto;
	display: grid;
	gap: 50px;
	align-items: flex-start;
	grid-template-areas:
		'game next'
		'game score';


}

.game-area {
	border: solid rgb(54, 54, 190);
	border-width: 0 4px 6px 4px;
	display: block;
}